In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf
import keras 
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
#print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [5]:
train_df=pd.read_csv("fashion-mnist_train.csv")
train_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_df=pd.read_csv("fashion-mnist_test.csv")
test_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Shape of train and test datasets

In [7]:
train_df.shape,test_df.shape

((60000, 785), (10000, 785))

The data types for keras is float 32

In [8]:
train_df=train_df.astype("float32")
test_df=test_df.astype("float32")

Making features and Labels for both train and test datasets.

In [9]:
#training dataset
y_train= X=train_df["label"]
X_train=train_df.drop(columns="label",axis=1)

In [10]:
#testing dataset
y_test= X=test_df["label"]
X_test=test_df.drop(columns="label",axis=1)

In [11]:
X_train.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,30.0,43.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
y_train.head()

0    2.0
1    9.0
2    6.0
3    0.0
4    3.0
Name: label, dtype: float32

In [13]:
X_train.shape

(60000, 784)

The dat needs to be reshaped into 6000,28,28 as the pic size of each element is in 28*28 pixels

conversion of dataframe to array and then resized

In [14]:
X_train=np.array(X_train)
X_train=X_train.reshape(X_train.shape[0],28,28)

X_test=np.array(X_test)
X_test=X_test.reshape(X_test.shape[0],28,28)

In [15]:
X_train[0]

array([[  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   4.,   0.,   0.,   0.,   0.,   0.,  62.,
         61.,  21.,  29.,  23.,  51., 136.,  61.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,  88., 201., 228., 225.,
        255., 115.,  62., 137., 255., 235., 222., 255., 135.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,  47., 252., 234., 238., 224., 215.,
        215., 229., 108., 180., 207., 214., 224., 231., 249., 254.,  45.,
          0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   1.,   0.,   0., 214., 222., 210., 213., 224., 225.,
        217., 220., 254., 233., 219., 221., 217., 223., 221., 240., 254.,
          0.,   0.,   1.,   0.,   0.,   0.],
       [  1.,   0.,   0.,   0., 128., 237., 207., 224., 224., 207., 216.,
        214., 210., 208., 211., 221., 208., 219., 213., 226., 211., 237.,
        150.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   2.,   0.,   0., 237., 222., 215., 207., 210., 212., 213.,
        206., 214., 213., 214., 213., 210., 215., 214., 206., 199., 218.,
        255.,  13.,   0.,   2.,   0.,   0.],
       [  0.,   4.,   0.,  85., 228., 210., 218., 200., 211., 208., 203.,
        215., 210., 209., 209., 210., 213., 211., 210., 217., 206., 213.,
        231., 175.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0., 217., 224., 215., 206., 205., 204., 217., 230.,
        222., 215., 224., 233., 228., 232., 228., 224., 207., 212., 215.,
        213., 229.,  31.,   0.,   4.,   0.],
       [  1.,   0.,  21., 225., 212., 212., 203., 211., 225., 193., 139.,
        136., 195., 147., 156., 139., 128., 162., 197., 223., 207., 220.,
        213., 232., 177.,   0.,   0.,   0.],
       [  0.,   0., 123., 226., 207., 211., 209., 205., 228., 158.,  90.,
        103., 186., 138., 100., 121., 147., 158., 183., 226., 208., 214.,
        209., 216., 255.,  13.,   0.,   1.],
       [  0.,   0., 226., 219., 202., 208., 206., 205., 216., 184., 156.,
        150., 193., 170., 164., 168., 188., 186., 200., 219., 216., 213.,
        213., 211., 233., 148.,   0.,   0.],
       [  0.,  45., 227., 204., 214., 211., 218., 222., 221., 230., 229.,
        221., 213., 224., 233., 226., 220., 219., 221., 224., 223., 217.,
        210., 218., 213., 254.,   0.,   0.],
       [  0., 157., 226., 203., 207., 211., 209., 215., 205., 198., 207.,
        208., 201., 201., 197., 203., 205., 210., 207., 213., 214., 214.,
        214., 213., 208., 234., 107.,   0.],
       [  0., 235., 213., 204., 211., 210., 209., 213., 202., 197., 204.,
        215., 217., 213., 212., 210., 206., 212., 203., 211., 218., 215.,
        214., 208., 209., 222., 230.,   0.],
       [ 52., 255., 207., 200., 208., 213., 210., 210., 208., 207., 202.,
        201., 209., 216., 216., 216., 216., 214., 212., 205., 215., 201.,
        228., 208., 214., 212., 218.,  25.],
       [118., 217., 201., 206., 208., 213., 208., 205., 206., 210., 211.,
        202., 199., 207., 208., 209., 210., 207., 210., 210., 245., 139.,
        119., 255., 202., 203., 236., 114.],
       [171., 238., 212., 203., 220., 216., 217., 209., 207., 205., 210.,
        211., 206., 204., 206., 209., 211., 215., 210., 206., 221., 242.,
          0., 224., 234., 230., 181.,  26.],
       [ 39., 145., 201., 255., 157., 115., 250., 200., 207., 206., 207.,
        213., 216., 206., 205., 206., 207., 206., 215., 207., 221., 238.,
          0.,   0., 188.,  85.,   0.,   0.],
       [  0.,   0.,   0.,  31.,   0., 129., 253., 190., 207., 208., 208.,
        208., 209., 211., 211., 209., 209., 209., 212., 201., 226., 165.,
          0.,   0.,   0.,   0.,   0.,   0.],
       [  2.,   0.,   0.,   0.,   0.,  89., 254., 199., 199., 192., 196.,
        198., 199., 201., 202., 203., 204., 203., 203., 200., 222., 155.,
          0.,   3.,   3.,   3.,   2.,   0.],
       [  0.,   0.,   1.,   5.,   0.,   0., 255., 218., 226., 232., 228.,
        224., 222., 220., 219., 219., 217., 221., 220., 212., 236.,  95.,
          0.,   2.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0., 155., 194., 168., 170., 171.,
        173., 173., 179., 177., 175., 172., 171., 167., 161., 180.,   0.,
          0.,   1.,   0.,   1.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.]], dtype=float32)

Normalizing the array as its currently range from 0-255 and post this it will range between 0-1

In [16]:
X_train=X_train/255
X_test=X_test/255

In [17]:
X_train.shape

(60000, 28, 28)

In [18]:
X_test.shape

(10000, 28, 28)

Deep learning code started

Sequential model selected

In [26]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
model=Sequential()
model.add(Flatten(input_shape=[28,28])) #input layer
#hand rule for hidden layer neurons, it should be less than shapeof data (28*28) and max 2 layers are enough in genral
model.add(Dense(200,activation="relu")) #hidden layer  
model.add(Dense(200,activation="relu")) #hidden layer 
model.add(Dense(10,activation="softmax")) #softamx is used in probability #output layer (0-9)
model.summary()  # gives us details about model neurons,weights(trainable parameters)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_2 (Flatten)          (None, 784)               0
_________________________________________________________________
dense_4 (Dense)              (None, 200)               157000
_________________________________________________________________
dense_5 (Dense)              (None, 200)               40200
_________________________________________________________________
dense_6 (Dense)              (None, 10)                2010
=================================================================
Total params: 199,210
Trainable params: 199,210
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.compile(loss="sparse_categorical_crossentropy",optimizer="adam",metrics=["accuracy"])

W0821 09:48:48.168211  4260 deprecation_wrapper.py:119] From C:\Users\vidya\pythonfolder\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0821 09:48:48.199411  4260 deprecation_wrapper.py:119] From C:\Users\vidya\pythonfolder\lib\site-packages\keras\backend\tensorflow_backend.py:3341: The name tf.log is deprecated. Please use tf.math.log instead.

In [22]:
model.fit(X_train,y_train,epochs=100)#epochs is iteration

Epoch 1/20
60000/60000 [==============================] - 11s 181us/step - loss: 0.1580 - acc: 0.9389
Epoch 2/20
60000/60000 [==============================] - 11s 182us/step - loss: 0.1553 - acc: 0.9412
Epoch 3/20
60000/60000 [==============================] - 11s 181us/step - loss: 0.1494 - acc: 0.9431
Epoch 4/20
60000/60000 [==============================] - 11s 186us/step - loss: 0.1437 - acc: 0.9454
Epoch 5/20
60000/60000 [==============================] - 11s 184us/step - loss: 0.1440 - acc: 0.9454
Epoch 6/20
60000/60000 [==============================] - 11s 178us/step - loss: 0.1387 - acc: 0.9472
Epoch 7/20
60000/60000 [==============================] - 11s 185us/step - loss: 0.1348 - acc: 0.9482
Epoch 8/20
60000/60000 [==============================] - 11s 182us/step - loss: 0.1303 - acc: 0.9506
Epoch 9/20
60000/60000 [==============================] - 12s 198us/step - loss: 0.1253 - acc: 0.9519
Epoch 10/20
60000/60000 [==============================] - 12s 204us/step - loss: 0.1251 - acc: 0.9521
Epoch 11/20
60000/60000 [==============================] - 12s 194us/step - loss: 0.1234 - acc: 0.9516
Epoch 12/20
60000/60000 [==============================] - 12s 198us/step - loss: 0.1196 - acc: 0.9534
Epoch 13/20
60000/60000 [==============================] - 12s 202us/step - loss: 0.1197 - acc: 0.9540
Epoch 14/20
60000/60000 [==============================] - 13s 218us/step - loss: 0.1165 - acc: 0.9559
Epoch 15/20
60000/60000 [==============================] - 12s 196us/step - loss: 0.1129 - acc: 0.9563
Epoch 16/20
60000/60000 [==============================] - 13s 222us/step - loss: 0.1124 - acc: 0.9568
Epoch 17/20
60000/60000 [==============================] - 13s 224us/step - loss: 0.1059 - acc: 0.9599
Epoch 18/20
60000/60000 [==============================] - 13s 208us/step - loss: 0.1063 - acc: 0.9594
Epoch 19/20
60000/60000 [==============================] - 14s 237us/step - loss: 0.1071 - acc: 0.9599
Epoch 20/20
60000/60000 [==============================] - 15s 246us/step - loss: 0.1012 - acc: 0.9614

In [23]:
model.evaluate(X_test,y_test)

10000/10000 [==============================] - 1s 55us/step

[0.4887525002279086, 0.8935]

Abovelist shows loss with accuracy

saving the model for future

In [24]:
model.save("MNIST_FASHION_CNN_model")